.resource {
	position: relative;
	display: block;

	header h2 {
		color: #111 !important;
		font-family: 'PT Serif', serif;
		font-size: 2.5em;
	}

	h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 100;
		font-size: 1.5em;
	}

	.column-code h3 {
		font-size: 1.1em;
		font-weight: normal;
		font-family: Monaco, Consolas, "Lucida Console", monospace;
		text-transform: uppercase;
		margin: 0;
		color: #aaa;
		text-shadow: 0 1px 1px #101315;
	}

	h1 {
		font-size: 3em;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		text-align: right;
	}

	.column-code h1 {
		color: #eee;
		text-align: left;
	}

	pre {
		background: none;
		border: none;
		color: #777;
		margin: 0 0 15px;
		padding: 0 0 0 20px;
	}

	pre p {
		line-height: 0.8em;
	}

	.method {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.3em;
		float: left;
		padding: 15px;
		margin-top: 20px;
		margin-right: 10px;
		background: #f9f9f9;
		color: #fff;

		&.method-get { background: #256ab7; }
		&.method-post { background: #8fbe00; }
		&.method-put { background: #bf8517; }
		&.method-patch { background: #bf8517; }
		&.method-delete { background: #9b1e1c; }
	}

}