
<section ng-controller="Resource">

	<!-- API section introduction -->
	<section class="resource">
		<div class="column-text">
			<div class="view text-right">
				<h1>{{ data.title }}</h1>
				<p>{{ data.description }}</p>
				<input type="text" ng-model="search" class="input-big" placeholder="Search {{data.title}} resource" />
			</div>
		</div>
		<div class="column-code">
			<div class="view">
				<h1><span class="muted">version </span> {{api.version}}</h1>
			</div>
		</div>
		<div class="column-code-holder"></div>

		<div class="clearfix"></div>

		<div class="hr-text"></div>
		<div class="hr-code"></div>
	</section>

	<!-- Resources list -->
	<section ng-repeat="resource in data.resources | filter:search" class="resource">

		<div class="column-text">

			<div class="view view-head method-{{resource.method|lowercase}}">
				<!-- Resource header -->
				<header ng-click="resource.show = !resource.show">
					<div class="method method-{{resource.method|lowercase}}">{{resource.method}} <strong>{{resource.path}}</strong></div>
					<div class="pull-right text-right">
						<h2>{{resource.title}}</h2>
						<p>{{resource.description}}</p>
					</div>
					<div class="clearfix"></div>
				</header>
			</div>
			<div class="view">

				<div ng-show="resource.request.parameters.length">
					<h3>Request parameters</h3>
					<table class="table table-code">
						<tr ng-repeat="parameter in resource.request.parameters">
							<th class="column-name">
								<span class="muted">{{parameter.type}}</span>
								<span class="name">{{parameter.name}}</span>
							</th>
							<td>
								<p ng-show="parameter.optional"><strong>optional</strong></p>
								<p>{{parameter.description}}</p>
							</td>
						</tr>
					</table>
				</div>

				<div ng-show="resource.request.headers">
					<h3>Request headers</h3>
					<table class="table-code">
						<tr ng-repeat="(header, value) in resource.request.headers">
							<th class="column-name">{{header}}</th>
							<td>
								<p>{{value}}</p>
							</td>
						</tr>
					</table>
				</div>

			</div>
		</div>

		<div class="column-code">
			<div class="view">
				<h3>Definition</h3>
				<pre>{{resource.method}} {{resource.path}}</pre>
			</div>
			<div class="view">
				<h3>Response</h3>
				<pre class="headers"><p>Status: {{resource.response.code}} {{statusCodes[resource.response.code]}}</p><p ng-repeat="(key, name) in resource.response.headers">{{key}}: {{name}}</p></pre>
				<pre class="code">{{resource.response.data|json}}</pre>
			</div>
		</div>
		<div class="column-code-holder"></div>
		<div class="clearfix"></div>

		<div class="hr-text"></div>
		<div class="hr-code"></div>
	</section>
</section>